@{
    ViewBag.Title = "Home Page";
}
<style>
    .panel{
        width:70%;
        margin: 0 auto;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading"><h2><b>Sistema de reporte de incidentes QA</b></h2></div>
    <div class="panel-body">
        Seleccione una opción en el menú del lado izquierdo.
    </div>
</div>