<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appmtto7-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://appmtto7-001-site1.itempurl.com:8172/msdeploy.axd?site=appmtto7-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>appmtto7-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>appmtto7-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EwoQEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A46034_ewoq;Persist Security Info=True;User ID=DB_A46034_ewoq_admin;Password=Ewoq123456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EwoQ.Database.EwoQEntities, EwoQ" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EwoQ.Models.ApplicationDbContext, EwoQ" MigrationConfiguration="EwoQ.Migrations.Configuration, EwoQ" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="EwoQEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.Database.csdl|res://*/Database.Database.ssdl|res://*/Database.Database.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A46034_ewoq;Persist Security Info=True;User ID=DB_A46034_ewoq_admin;Password=Ewoq123456"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>